@using ProjectLibrary.Config
@using ProjectLibrary.Database
@using TeamplateHotel.Controllers
@{
    List<Menu> menus = CommentController.GetMainMenus(Request.Cookies["LanguageID"].Value);
    string alias = "";
}
<div id='cssmenu'>
    <ul>
        @foreach (var item in menus.Where(a => a.ParentID == 0).OrderBy(a => a.Index).ToList())
        {
            var menuChilds = menus.Where(a => a.ParentID == item.ID).OrderBy(a => a.Index).ToList();
            if (menuChilds.Count > 0)
            {
                alias = "javascript:void(0)";
                <li class="has-sub">
                    <a href="@alias">@item.Title</a>
                    <ul>
                        @foreach (var itemChild in menuChilds)
                        {
                            var menuChilds2 = menus.Where(a => a.ParentID == itemChild.ID).OrderBy(a => a.Index).ToList();
                            if (menuChilds2.Count > 0)
                            {
                                alias = "javascript:void(0)";
                                <li class="has-sub">
                                    <a href="@alias">@itemChild.Title</a>
                                    <ul>
                                        @foreach (var itemchild2 in menuChilds2)
                                        {
                                            if (item.Type == SystemMenuType.OutSite)
                                            {
                                                <li><a href="/@itemchild2.Link" target="_blank">@itemchild2.Title</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="/@itemchild2.Alias">@itemchild2.Title</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                if (item.Type == SystemMenuType.OutSite)
                                {
                                    <li><a href="/@itemChild.Link" target="_blank">@itemChild.Title</a></li>
                                }
                                else
                                {
                                    <li><a href="/@itemChild.Alias">@itemChild.Title</a></li>
                                }
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                if (item.Type == SystemMenuType.OutSite)
                {
                    <li><a href="@item.Link" target="_blank">@item.Title</a></li>
                }
                else
                {
                    <li><a href="/@item.Alias">@item.Title</a></li>
                }
            }
        }
    </ul>
</div>

