@using ProjectLibrary.Config
@using TeamplateHotel.Controllers
@using TeamplateHotel.Handler
@using TeamplateHotel.Models
@using ProjectLibrary.Database

@{
    ViewBag.HomePage = true;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
    List<ShowObject> CustomerArticle = CommentController.CustomerArticles(Request.Cookies["LanguageID"].Value);
    List<Menu> menus = CommentController.GetMainMenus(Request.Cookies["LanguageID"].Value);
    List<ShowObject> rooms = CommentController.RoomShowHome(Request.Cookies["LanguageID"].Value);
    List<Gallery> gallery = CommentController.Gallery(Request.Cookies["LanguageID"].Value);
    List<Slider> sliders = CommentController.GetListSlider(Request.Cookies["LanguageID"].Value, menu.ID);
    Article aboutArticles = CommentController.HomeAboutArticles(Request.Cookies["LanguageID"].Value);
    List<Article> articles2 = CommentController.HomeServiceArticles(Request.Cookies["LanguageID"].Value);
    List<ShowObject> articles = CommentController.HomeArticles(Request.Cookies["LanguageID"].Value);
    List<Amenity> amenity = CommentController.GetHomeAmetities(Request.Cookies["LanguageID"].Value);
    string url = "";
    string i = "";
    string linkRoom = "";
    string linkBlog = "";
    string linkAbout = "";

}
<main class="main">
    @foreach (var item in sliders)
    {
        url = @item.Image;
    }
    <section class="banner banner-home" style="background: url('@url')">
        <div class="container">
            <div class="banner-content">
                <div class="banner-title">
                    @foreach (var temp in menus.Where(a=>a.Type== SystemMenuType.Home).Take(1))
                    {
                            <h1 class="add-font">
                                @temp.MetaTitle
                            </h1>
                            <span class="text">
                                @menu.MetaDescription
                            </span>
                    }
                    </div>
                <div class="form-search__room">
                    <form action="/booking" class="search-room">
                        <div class="form-group checkin-form">
                            <label for="">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "CheckIn")</label>
                            <div class="value-space">
                                <input type="text" name="checkInDate" id="CheckIn" class="form-control" value="@DateTime.Now.ToString("MM/dd/yyyy")">
                            </div>
                        </div>
                        <div class="form-group checkout-form">
                            <label for="">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "CheckOut")</label>
                            <div class="value-space">
                                <input type="text" name="checkOutDate" id="CheckOut" class="form-control" value="@DateTime.Now.AddDays(1).ToString("MM/dd/yyyy")">
                            </div>
                        </div>
                        <div class="form-group guests-form">
                            <div class="div">
                                <div>
                                    <label for="">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Adults")</label>
                                    <select class="amount2" name="Adult">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group guests-form">
                            <div class="div">
                                <div>
                                    <label for="">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "child")</label>
                                    <select class="amount3" name="Child">
                                        <option value="0" selected>0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group btn-form">
                            <button type="submit" class="btn-search1">
                                @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Book rooms")
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <section class="about pt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 desc">
                    <div class="desc-content">
                        <div class="desc-content__header">
                            <p>
                                @Html.Raw(aboutArticles.Description)
                            </p>
                        </div>
                        <div class="desc-content__text">
                            <p>
                                @Html.Raw(aboutArticles.Content)
                            </p>
                        </div>
                        <div class="desc-content__link">
                            @foreach (var temp in menus)
                            {
                                if (temp.Type == SystemMenuType.About)
                                {
                                    linkAbout = temp.Alias;
                                }
                            }
                            <a href="/@linkAbout" class="link-detail">
                                @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "more about us") <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 thumd">
                    <div class="thumd-inner">
                        <figure class="image">
                            <img src="@aboutArticles.Image" alt="">
                        </figure>
                    </div>
                </div>
                @*<div class="col-md-12 list-thumd">
                    <div class="list-thumd__inner">
                        <figure class="image">
                            <img src="~/Asset/images/resort-group.png" alt="">
                        </figure>
                    </div>
                </div>*@
            </div>
        </div>
    </section>

    <section class="rooms pt-100">
        <div class="bg"></div>
        <div class="container">
            <div class="section-title">
                <h2 class="subtitle add-font">
                    @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "owl rooms")
                </h2>
                <div class="sectitle">
                    @foreach (var temp in menus)
                    {
                        if (temp.Type == SystemMenuType.RoomRate)
                        {
                            @Html.Raw(temp.Description)
                        }
                    }
                </div>
            </div>
            <div class="rooms-slider owl-carousel owl-theme">
                <div class="rooms-item">
                    @foreach (var item in rooms.Take(2))
                    {
                        <div class="inner">
                            <figure class="image">
                                <a href="/@item.MenuAlias/@item.ID/@item.Alias">
                                    <img src="@item.Image" alt="">
                                </a>
                                <div class="price">
                                    <span class="price-head">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "From")</span>
                                    <span class="price-value">$@item.Price</span>
                                    <span class="price-tail">/ @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Night")</span>
                                </div>
                                <div class="room-ribbon">
                                    @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "sale off") @item.PriceNet%
                                </div>
                            </figure>
                            <div class="content">
                                <h3 class="room-title">
                                    <a href="/@item.MenuAlias/@item.ID/@item.Alias">
                                        @item.Title
                                    </a>
                                </h3>
                                <div class="infor-wrap">
                                    <div class="infor-item">
                                        <i class="fa-solid fa-bed"></i>
                                        <span>
                                            @item.Numofbed @item.Typebed
                                        </span>
                                    </div>
                                    <div class="infor-item">
                                        <i class="fa-solid fa-users"></i>
                                        <span>
                                            @item.MaxPeople @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "guests")
                                        </span>
                                    </div>
                                </div>
                                <a href="/@item.MenuAlias/@item.ID/@item.Alias" class="book-now">
                                    @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "read more") <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="view-all-rooms">
                @foreach(var item in menus)
                {
                    if (item.Type == SystemMenuType.RoomRate)
                    {
                        linkRoom = item.Alias;
                    }
                }
                <a href="/@linkRoom">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "view all rooms") <i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>
    </section>

    <section class="facilities pd-100">
        <div class="container">
            <div class="section-title">
                <h2 class="subtitle add-font">
                    @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "hotel facilities")
                </h2>
                <div class="sectitle">
                    @foreach (var temp in menus)
                    {
                        if (temp.Type == SystemMenuType.Service)
                        {
                            @Html.Raw(temp.Description)
                        }
                    }
                </div>
            </div>
            <div class="list-facilities">
                <div class="row">
                    @foreach (var item in amenity)
                    {
                        <div class="col-md-3 facilities-item">
                            <div class="inner">
                                <div class="item-icon">
                                    <img src="@item.Image" />
                                </div>
                                <div class="item-title">
                                    <h3>
                                        @item.Title
                                    </h3>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>

    <section class="video">
        <div class="bg-video"></div>
        <div class="play">
            <a href="https://www.youtube.com/watch?v=US7bGTUkBfg" data-fancybox="">
                <img src="~/Asset/images/play.png" alt="" title="Play">
            </a>
        </div>
    </section>

    <section class="service pd-100">
        <div class="bg-service"></div>
        <div class="container">
            <div class="section-title">
                <h2 class="subtitle add-font">
                    @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Visit Our Famous Facilities")
                </h2>
                <div class="sectitle">
                    @foreach (var temp in menus)
                    {
                        if (temp.Type == SystemMenuType.Service)
                        {
                            @Html.Raw(temp.Description)
                        }
                    }
                </div>
            </div>
            <div class="service-wrap">
                @foreach (var item in articles2.Take(3))
                {
                    <div class="service-wrap__item">
                        <div class="row">
                            <div class="col-lg-7 column-image">
                                <figure class="image">
                                    <a href="/@item.MenuAlias/@item.ID/@item.Alias">
                                        <img src="@item.Image" alt="">
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-5 column-desc">
                                <div class="desc">
                                    <h3 class="service-title">
                                        @item.Title
                                    </h3>
                                    <p>
                                        @Html.Raw(item.Description)
                                    </p>
                                    <a href="/@item.MenuAlias/@item.ID/@item.Alias" class="link-detail">
                                        @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "read more") <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="testimonial pd-100">
        <div class="bg-testi"></div>
        <div class="container">
            <div class="section-title">
                <h2 class="subtitle add-font">
                    @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "testimonial")
                </h2>
                <div class="sectitle">
                    @foreach (var temp in menus)
                    {
                        if (temp.Type == SystemMenuType.Service)
                        {
                            @Html.Raw(temp.Description)
                        }
                    }
                </div>
            </div>
            <div class="testi-slide owl-carousel owl-theme">
                @foreach (var item in CustomerArticle.Take(4))
                {
                    <div class="testi-item">
                        <div class="inner">
                            <div class="author">
                                <img src="@item.Image" alt="">
                            </div>
                            <div class="content">
                                <div class="img-quote">
                                    “
                                </div>
                                <div class="desc">
                                    @Html.Raw(item.Content)
                                </div>
                                <div class="author-wrap">
                                    <div class="author-name">
                                        @item.Authur
                                    </div>
                                    <div class="author-infor">
                                        @Html.Raw(item.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="blogs">
        <div class="bg"></div>
        <div class="container">
            <div class="section-title">
                <h2 class="subtitle add-font">
                    @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "news & offer")
                </h2>
                <div class="sectitle">
                    @foreach (var temp in menus)
                    {
                        if (temp.Type == SystemMenuType.Article)
                        {
                            @Html.Raw(temp.Description)
                            break;
                        }
                    }
                </div>
            </div>
            <div class="blogs-desc">
                <div class="blog-slide owl-carousel owl-theme">
                    @foreach (var item in articles)
                    {
                        <div class="blog-item">
                            <div class="inner">
                                <div class="thumd">
                                    <img src="@item.Image" alt="">
                                </div>
                                <div class="content">
                                    <h3 class="blog-title">
                                        <a href="/@item.MenuAlias/@item.ID/@item.Alias">
                                            @item.Title
                                        </a>
                                    </h3>
                                    <div class="blog-infor">
                                        <span>
                                            <i class="fa-regular fa-clock"></i>
                                            @if (Request.Cookies["LanguageID"].Value == "vi")
                                            {
                                                <span class="blog-date">
                                                    @item.Datetime.ToString("d")
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="blog-date">
                                                    @switch (item.Datetime.Month)
                                                    {
                                                        case 1:
                                                            i = "January";
                                                            break;
                                                        case 2:
                                                            i = "February";
                                                            break;
                                                        case 3:
                                                            i = "March";
                                                            break;
                                                        case 4:
                                                            i = "April";
                                                            break;
                                                        case 5:
                                                            i = "May";
                                                            break;
                                                        case 6:
                                                            i = "June";
                                                            break;
                                                        case 7:
                                                            i = "July";
                                                            break;
                                                        case 8:
                                                            i = "August";
                                                            break;
                                                        case 9:
                                                            i = "September";
                                                            break;
                                                        case 10:
                                                            i = "October";
                                                            break;
                                                        case 11:
                                                            i = "November";
                                                            break;
                                                        case 12:
                                                            i = "December";
                                                            break;
                                                    }
                                                    @i @item.Datetime.Day.ToString(),
                                                    @item.Datetime.Year.ToString()
                                                </span>

                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="view-all-blog">
                @if (Request.Cookies["LanguageID"].Value == "en") {
                    linkBlog = "blogs";
                }
                else
                {
                    linkBlog = "bai-viet";
                }
                <a href="/@linkBlog" class="link-detail">
                    @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "read more") <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="bg"></div>
        <div class="container">
            <div class="section-title">
                <h2 class="subtitle add-font">
                    @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "newsletter")
                </h2>
                <div class="sectitle">
                    @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Subscribe the newsletter to get updated to news and promotions")
                </div>
            </div>
            <div class="newsletter-subscribe">
                <form method="post" action="/Subscribe/Send" class="subscribe-form" id="subscribe-form">
                    <div class="form-group">
                        <input type="text" name="Email" placeholder="@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "your email address")" class="form-control">
                    </div>
                    <div class="form-btn">
                        <input type="submit" class="btn-submid" value="@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Send")"/>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="insta-gallery">
        <div class="container">
            <div class="list-insta-gallery owl-carousel owl-theme">
                @foreach (var item in gallery)
                {
                    <div class="item">
                        <a href="" data-fancybox="gallery">
                            <img src="@item.LargeImage" alt="">
                        </a>
                    </div>
                }
            </div>
            <div class="contact-insta">
                <a href="" class="contact-insta__link">
                    <i class="fa-brands fa-instagram"></i> @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "follow us on instagram")
                </a>
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#subscribe-form').validate({ // initialize the plugin
                rules: {
                    'Email': {
                        required: true,
                        email: true,
                    },
                },
                messages: {
                    'Email': "Please enter Email"
                },
                submitHandler: function (form) {
                    $.post($(form).attr("action"), $(form).serialize())
                        .done(function (data) {
                            if (data.success == true) {
                                alert(data.Message);
                                $(form)[0].reset()
                            } else {
                                alert(data.Message);
                            }
                        })
                        .fail(function (error) {
                            alert(error);
                        });
                }
            });
        });
    </script>
}