@model TeamplateHotel.Areas.Administrator.ModelShow.ShowArticle
@{
    Layout = "~/Areas/Administrator/Views/Templates/_LayoutPage.cshtml";
}

<form action="@Url.Action("UpdateIndex", "FeedBack")" method="POST" id="updateIndex">
    
    <div id="jtable-main-container"></div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#jtable-main-container').jtable({
                title: '@ViewBag.Title',
                paging: true, //Enable paging
                pageSize: 20, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Name ASC', //Set default sorting
                selecting: true, //Enable selecting
                multiselect: true, //Allow multiple selecting
                selectingCheckboxes: true, //Show checkboxes on first column
                columnResizable: true, //Actually, no need to set true since it's default
                columnSelectable: true, //Actually, no need to set true since it's default
                saveUserPreferences: true, //Actually, no need to set true since it's default
                toolbar: {
                    items: [
                        {
                            icon: '/Areas/Administrator/Content/img/add.png',
                            text: 'Thêm mới',
                            click: function() {
                                window.location = '@Url.Action("Create", "FeedBack")';
                            }
                        }, {
                            icon: '/Areas/Administrator/Content/img/Ordering.png',
                            text: 'Sắp xếp',
                            click: function() {
                                $("#updateIndex").submit();
                            }
                        }
                    ]
                },
                actions: {
                    listAction: '@Url.Action("List", "FeedBack")',
                    deleteAction: '@Url.Action("Delete", "FeedBack")',
                },
                fields: {
                    ID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Name: {
                        title: 'Tên khách hàng',
                        width: '10%',
                        display: function(data) {
                            return data.record.Name;
                        }
                    },
                    Star: {
                        title: 'Mức độ đánh giá',
                        width: '5%',
                    },
                    Index: {
                        title: 'Thứ tự hiển thị',
                        width: '4%',
                        sorting: false,
                        display: function (data) {
                            return '<input type="text" name="sort[' + data.record.ID + '].Index" style="width:25px" value="' + data.record.Index + '"/>';
                        }
                    },
                    Content: {
                        title: 'Nội dung đánh giá',
                        width: '25%',
                    }
                }
            });
            $('#jtable-main-container').jtable('load');
        });
    </script>
</form>
<script>
    function editRecord(Id) {
        window.location = '@Url.Action("Update", "FeedBack")' + '/' + Id;
    }
</script>